body
{

}

.body
{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fafafa;
    white-space: wrap;
    text-overflow: ellipses;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1024px;
}

.margin
{
    margin: 20px;
 }

.post-view
{
    background-color: #ffffff;
    font-size: 13px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;

}

.post-true, .post-false, .stats
{
    background-color: #ffffff;
    font-size: 13px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.options
{
    font-size: 13px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.post-true
{

}

.post-false
{

}

.post-true:hover, .post-false:hover, .stats:hover, .options:hover
{
    background-color: #eef7ed;
}

.title, .footer
{
    background-color: #afe3ff;
    text-align: center;
}

.title
{
    padding: 75px;
    border: 1px solid #ccc;
}

a:visited, a
{
    color: black;
}

a:hover
{
    color: #000000;
    text-decoration: none;
}

.right
{
    float: right;
}

.small
{
    color: #61656b;
}

.header, .smallheader
{
    color: black;
    background-color: #e2edff;
    font-weight: bold;
    border: 1px solid #ccc;
    text-align: center;
}

.header
{
    margin-bottom: 30px;
    padding: 20px;
    font-size: 15px;
}

.smallheader
{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 13px;
}
