<html ng-app=app>
    <head>
        <%- include ../partials/header.ejs %>
    </head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <body>
        <div class="margin"></div>
        <div class="body">
            <div class="row">
                <%- include ../partials/side.ejs %>
                <%- include ../partials/main_listing.ejs %>
            </div>
        </div>
        <div class="margin"></div>
    </body>
</html>
