<html>
    <head>
        <%- include ../partials/header.html %>
    </head>
    <body>
        <div class="margin"></div>
        <div class="body">
            <div class="row">
                <center>
                    Page not found.
                </center>
            </div>
        </div>
        <div class="margin"></div>
    </body>
</html>
